<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<title>Consulting Benefits</title>
		<meta name="keywords" content="Accounting and Bookkeeping Services" />
		<meta name="description" content="The best source for back office support">
		<meta name="author" content="ConsultingBenefits.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">


	</head>
	<body class="one-page" data-target=".single-menu" data-spy="scroll" data-offset="200">

		<div class="body">
			<header id="header" class="single-menu flat-menu">
				<div class="container">
					<h1 class="logo">

							<%= image_tag("logo.png", :alt => 'Consulting Benefits', :width => '111', :height => '54', :data_sticky_width => '82', :data_sticky_height => '40') %>

						</h1>
					<button class="btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
						</button>
				</div>
		  <div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<ul class="social-icons">
							<li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
							<li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
							<li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
						</ul>
						<nav class="nav-main">
							<ul class="nav nav-pills nav-main" id="mainMenu">
								<li>
									<a data-hash href="#home">Home</a>								</li>
								<li>
									<a data-hash href="#projects">Our Services</a>								</li>
								<li>
									<a data-hash href="#features">Pricing</a>								</li>
								<li>
									<a data-hash href="#team">Meet the Team</a>								</li>
								<li>
									<a data-hash href="#contact">Contact Us</a>								</li>
							</ul>
						</nav>
					</div>
			  </div>
			</header>


			<a href="#home"></a>
			<div role="main" class="main" id="home">
				<div class="slider-container slider-container-fullscreen">
					<div class="slider" id="revolutionSliderFullScreen" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "on", "fullScreenOffsetContainer": "#header"}'>
						<ul>
							<li data-transition="fade" data-slotamount="10" data-masterspeed="300">
								<%= image_tag("slides/slide-bg-full.jpg", :data_fullwidthcentering => 'on') %>

									<div class="tp-caption top-label lfl stl"
										 data-x="458"
										 data-y="100"
										 data-speed="300"
										 data-start="500"
										 data-easing="easeOutExpo"><font size=4 color="black"><strong>Are you tired of</strong></font></div>

									<div class="tp-caption main-label sft stb"
										 data-x="415"
										 data-y="130"
										 data-speed="300"
										 data-start="1500"
										 data-easing="easeOutExpo"><font color="black">paperwork?</font></div>

									<div class="tp-caption bottom-label sft stb"
										 data-x="465"
										 data-y="210"
										 data-speed="500"
										 data-start="2000"
										 data-easing="easeOutExpo"><font size=4 color="black"><strong>Check out our services</strong></font></div>

									<div class="tp-caption sft stb center-caption"
										 data-x="0"
										 data-y="250"
										 data-speed="300"
										 data-start="2500"
										 data-easing="easeOutExpo"><a data-hash href="#projects" class="btn btn-lg btn-primary main-button">Get Started Now!</a></div>


							</li>
						</ul>
					</div>
				</div>
				<section class="highlight top">
					<div class="container">
						<div class="row" id="projects">
							<div class="col-md-12">
								<h1><strong>Service</strong> details</h1>

								<div class="owl-carousel owl-carousel-spaced" data-plugin-options='{"items": 4, "singleItem": false, "autoHeight": true}'>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject" data-plugin-options='{"type":"inline", preloader: false}'>
												<%= image_tag("projects/project-4.jpg", :alt => '', :class => 'img-responsive') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Tax Payments</span>
													<span class="thumb-info-type">Estimated Tax Payments</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</a>
										</div>
										<div id="popupProject" class="popup-inline-content">
											<h2>SEO</h2>

											<div class="row">
												<div class="col-md-6">
													<%= image_tag("projects/project-4.jpg", :alt => '', :class => 'img-thumbnail img-responsive') %>
												</div>
												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Design</li>
														<li><i class="fa fa-check"></i> HTML/CSS</li>
														<li><i class="fa fa-check"></i> Javascript</li>
														<li><i class="fa fa-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject2" data-plugin-options='{"type":"inline", preloader: false}'>
												<%= image_tag("projects/project-5.jpg", :alt => '', :class => 'img-responsive') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Health Insurance</span>
													<span class="thumb-info-type">ACA Plan Management</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</a>
										</div>
										<div id="popupProject2" class="popup-inline-content">
											<h2>Okler</h2>

											<div class="row">
												<div class="col-md-6">
													<%= image_tag("projects/project-5.jpg", :alt => '', :class => 'img-thumbnail img-responsive') %>
												</div>
												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Design</li>
														<li><i class="fa fa-check"></i> HTML/CSS</li>
														<li><i class="fa fa-check"></i> Javascript</li>
														<li><i class="fa fa-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject3" data-plugin-options='{"type":"inline", preloader: false}'>
												<%= image_tag("projects/project-6.jpg", :alt => '', :class => 'img-responsive') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Retirement</span>
													<span class="thumb-info-type">SEP-IRA's and more</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</a>
										</div>
										<div id="popupProject3" class="popup-inline-content">
											<h2>The Fly</h2>

											<div class="row">
												<div class="col-md-6">
													<%= image_tag("projects/project-6.jpg", :alt => '', :class => 'img-thumbnail img-responsive') %>
												</div>
												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Design</li>
														<li><i class="fa fa-check"></i> HTML/CSS</li>
														<li><i class="fa fa-check"></i> Javascript</li>
														<li><i class="fa fa-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject4" data-plugin-options='{"type":"inline", preloader: false}'>
												<%= image_tag("projects/project-7.jpg", :alt => '', :class => 'img-responsive') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Investments</span>
													<span class="thumb-info-type">Grow your money</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</a>
										</div>
										<div id="popupProject4" class="popup-inline-content">
											<h2>The Code</h2>

											<div class="row">
												<div class="col-md-6">
													<%= image_tag("projects/project-7.jpg", :alt => '', :class => 'img-thumbnail img-responsive') %>
												</div>
												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Design</li>
														<li><i class="fa fa-check"></i> HTML/CSS</li>
														<li><i class="fa fa-check"></i> Javascript</li>
														<li><i class="fa fa-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
									<!-- <div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject5" data-plugin-options='{"type":"inline", preloader: false}'>
												<%#= image_tag("projects/project.jpg", :alt => '', :class => 'img-responsive') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Insurance Services</span>
													<span class="thumb-info-type">Protect your assets</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</a>
										</div>
										<div id="popupProject5" class="popup-inline-content">
											<h2>SEO</h2>

											<div class="row">
												<div class="col-md-6">
													<%#= image_tag("projects/project.jpg", :alt => '', :class => 'img-thumbnail img-responsive') %>
												</div>
												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Design</li>
														<li><i class="fa fa-check"></i> HTML/CSS</li>
														<li><i class="fa fa-check"></i> Javascript</li>
														<li><i class="fa fa-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject6" data-plugin-options='{"type":"inline", preloader: false}'>
												<%#= image_tag("projects/project-1.jpg", :alt => '', :class => 'img-responsive') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Keogh Plans</span>
													<span class="thumb-info-type">Simplified Management</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</a>
										</div>
										<div id="popupProject6" class="popup-inline-content">
											<h2>Okler</h2>

											<div class="row">
												<div class="col-md-6">
													<%#= image_tag("projects/project-1.jpg", :alt => '', :class => 'img-thumbnail img-responsive') %>
												</div>
												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Design</li>
														<li><i class="fa fa-check"></i> HTML/CSS</li>
														<li><i class="fa fa-check"></i> Javascript</li>
														<li><i class="fa fa-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject7" data-plugin-options='{"type":"inline", preloader: false}'>
												<%#= image_tag("projects/project-2.jpg", :alt => '', :class => 'img-responsive') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Consulting</span>
													<span class="thumb-info-type">For all business systems</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</a>
										</div>
										<div id="popupProject7" class="popup-inline-content">
											<h2>The Fly</h2>

											<div class="row">
												<div class="col-md-6">
													<%#= image_tag("projects/project-2.jpg", :alt => '', :class => 'img-thumbnail img-responsive') %>
												</div>
												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Design</li>
														<li><i class="fa fa-check"></i> HTML/CSS</li>
														<li><i class="fa fa-check"></i> Javascript</li>
														<li><i class="fa fa-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="portfolio-item img-thumbnail">
											<a class="thumb-info lightbox" href="#popupProject8" data-plugin-options='{"type":"inline", preloader: false}'>
												<%#= image_tag("projects/project-3.jpg", :alt => '', :class => 'img-responsive') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Self-funding plans</span>
													<span class="thumb-info-type">Freedom from accounts</span>
												</span>
												<span class="thumb-info-action">
													<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
												</span>
											</a>
										</div>
										<div id="popupProject8" class="popup-inline-content">
											<h2>The Code</h2>

											<div class="row">
												<div class="col-md-6">
													<%#= image_tag("projects/project-3.jpg", :alt => '', :class => 'img-thumbnail img-responsive') %>
												</div>
												<div class="col-md-6">

													<h4>Project <strong>Description</strong></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elit mattis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>

													<a href="#" class="btn btn-primary">Live Preview</a> <span class="arrow hlb"></span>

													<h4 class="push-top">Services</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Design</li>
														<li><i class="fa fa-check"></i> HTML/CSS</li>
														<li><i class="fa fa-check"></i> Javascript</li>
														<li><i class="fa fa-check"></i> Backend</li>
													</ul>

												</div>
											</div>
										</div>
									</div> -->

								</div>
							</div>
						</div>
					</div>
				</section>


				<div class="container">

					<div class="row center">
						<div class="col-md-12">
							<h2 class="short word-rotator-title">
								ConsultingBenefits solves all of your
								<strong class="inverted" data-appear-animation="bounceIn">
									<span class="word-rotate" data-plugin-options='{"delay": 2000}'>
										<span class="word-rotate-items">
											<span>compliance</span>
											<span>tax payment</span>
											<span>accounting</span>
											<span>technical</span>
											<span>audit</span>
											<span>reporting</span>
										</span>
									</span>
								</strong>
								 needs.</h2>
							<p class="featured lead">
								We do it all so you don't have to.
							</p>
						</div>
					</div>

					<hr class="tall" />
				</div>

				<div class="container">
					<div class="row" id="features">
						<div class="col-md-8">
							<h2 data-appear-animation="fadeInLeft"> <strong>Service</strong> summary</h2>
							<div class="row">
								<div class="col-sm-6">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-file"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Tax Payments</h4>
											<p class="tall">Take the headache out of estimated tax payments</p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-group"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Customer Support</h4>
											<p class="tall">We support every financial need of our customers</p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-adjust"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Retirement</h4>
											<p class="tall">Don't let your retirement creep up on you.</p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-file"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Insurance</h4>
											<p class="tall">Protect what you have.</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-user"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Health</h4>
											<p class="tall">Make sure everyone in your family is properly covered</p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-file"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Investments</h4>
											<p class="tall">We help you build a future</p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-bars"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Simplicity</h4>
											<p class="tall">Consulting Benefits is your central hub for benefits</p>
										</div>
									</div>
									<div class="feature-box">
										<div class="feature-box-icon">
											<i class="fa fa-desktop"></i>
										</div>
										<div class="feature-box-info">
											<h4 class="shorter">Performance</h4>
											<p class="tall">Our top-quality staff and equipment ensures that the job is done right.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<h2 data-appear-animation="fadeInRight">and more...</h2>

							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
												<i class="fa fa-usd"></i>
												Pricing
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="accordion-body collapse in">
										<div class="panel-body">
											$50/hr
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
												<i class="fa fa-comment"></i>
												FAQ's
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="accordion-body collapse">
										<div class="panel-body">
											How much does this cost?
											We charge $50/hr for our services.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
												<i class="fa fa-laptop"></i>
												Disclosures
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="accordion-body collapse">
										<div class="panel-body">
											CPA Certification will bring services to $75/hr.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

<section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(<%= asset_path 'parallax.jpg' %>);">
	<div class="container">
		<div class="row center">
			<div class="col-md-12">
				<!-- <i class="fa fa-comments icon-featured" data-appear-animation="bounceIn"></i> -->
				<h1 class="short text-shadow big white bold"><strong>Consulting Benefits</strong></h1>
				<h3 class="lead white">We'll make your life a whole lot easier</h3>
			</div>
		</div>
	</div>
</section>

				<div class="container">
					<div class="row" id="team">
						<div class="col-md-12">
							<h2 data-appear-animation="fadeInLeft">Meet the <strong>Team</strong></h2>

							<div class="row">

								<ul class="team-list">
									<li class="col-md-3 col-sm-6 col-xs-12">
										<div class="team-item thumbnail">
											<a href="" class="thumb-info team">
												<!-- <img alt="" height="270" src="img/team/team-1.jpg"> -->
											<%= image_tag("team/team-1.jpg", :alt => '', :height => '270') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Sean Allaband</span>
													<span class="thumb-info-type">CEO/Founder</span>
												</span>
											</a>
											<span class="thumb-info-caption">
												<p>Sean is an MBA and an experienced accountant, able to handle all of your financial and compliance work. Sean worked as a senior accountant and as a director of finance in the bustling start-up scene of San Francisco before moving on to start his own practice. His work experience and family ties have taught him numberous programming languages including Javascript, Ruby on Rails, HTML5, SQL, CSS, Visual Basic, and Backbone.</p>
												<span class="thumb-info-social-icons">
													<!-- <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
													<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
													<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a> -->
												</span>
											</span>
										</div>
									</li>
									<li class="col-md-3 col-sm-6 col-xs-12">
										<div class="team-item thumbnail">
											<a href="" class="thumb-info team">
												<!-- <img alt="" height="270" src="img/team/team-2.jpg"> -->
												<%= image_tag("team/team-2.jpg", :alt => '', :height => '270') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Patrick Allaband</span>
													<span class="thumb-info-type">CTO</span>
												</span>
											</a>
											<span class="thumb-info-caption">
												<p>Patrick Allaband CS degree and has been programming for 30+ years all across Silicon Valley. He handles all of the technical issues and advises clients on how to best handle their information systems. He has experience programming in many languages, including Java, PHP, Python, C++, Javascript, Perl, and SQL. His knowledge and expertise helps to give us a competitive edge.</p>
												<span class="thumb-info-social-icons">
													<!-- <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
													<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
													<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a> -->
												</span>
											</span>
										</div>
									</li>
									<li class="col-md-3 col-sm-6 col-xs-12">
										<div class="team-item thumbnail">
											<a href="" class="thumb-info team">
												<!-- <img alt="" height="270" src="img/team/team-3.jpg"> -->
												<%= image_tag("team/team-3.jpg", :alt => '', :height => '270') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Ashley Nicole Lee</span>
													<span class="thumb-info-type">Paralegal</span>
												</span>
											</a>
											<span class="thumb-info-caption">
												<p> Ashley graduated from UC Berkeley with a B.A. in Political Economy and served as an AmeriCorps member for the Bay Area Youth Agency Consortium (BAYAC). She worked as an Assistant Program Coordinator for the San Francisco Unified School District's "Mentoring for Success" program. Since serving as an Americorps member, Ashley has received a Paralegal Certificate from San Francisco State University. She now serves as our fim Paralegal and will be applying to law school in the fall of 2015.</p>
												<span class="thumb-info-social-icons">
													<!-- <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com/" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
													<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
													<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com/" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a> -->
												</span>
											</span>
										</div>
									</li>
									<li class="col-md-3 col-sm-6 col-xs-12">
										<div class="team-item thumbnail">
											<a href="" class="thumb-info team">
												<%= image_tag("team/team-4.jpg", :alt => '', :height => '270') %>
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Kathryn Wolf</span>
													<span class="thumb-info-type">Office Manager</span>
												</span>
											</a>
											<span class="thumb-info-caption">
												<p>Kathy graduated college with a bachelors in microbiology, and now she handles all of the administrative work. With years of experience working in an office environment, Kathy has the skills to handle everything that a busy office can throw at someone. She holds down the facilities and is the main point of contact for incoming wuestions and requests.</p>
												<span class="thumb-info-social-icons">
													<!-- <a rel="tooltip" data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
													<a rel="tooltip" data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
													<a rel="tooltip" data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a> -->
												</span>
											</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<section class="parallax" data-stellar-background-ratio="0.5" >
					<div class="container">
						<div class="row center">
							<div class="col-md-12">
								<!-- <i class="icon-featured" data-appear-animation="bounceIn"></i> -->
								<h1 class="short text-shadow big bold" data-appear-animation="fadeInUp"><strong>Thanks for visiting!</strong></h1>
							</div>
						</div>
					</div>
				</section>


				<div class="container">

					<div class="row" id="contact">
						<div class="col-md-6">

							<!-- <div class="alert alert-success hidden" id="contactSuccess">
								<strong>Success!</strong> Your message has been sent to us.
							</div>

							<div class="alert alert-danger hidden" id="contactError">
								<strong>Error!</strong> There was an error sending your message.
							</div> -->

							<h2 class="short"><strong>Contact</strong> Us</h2>
							<BR>
								<table width="400" border="0">
									<%= form_for @contact do |f| %>
									<tr>
										<td>First Name:</td>
										<td><%= f.text_field :first_name %></td>
									</tr>
									<tr>
										<td>Last Name:</td>
										<td><%= f.text_field :last_name %></td>
									</tr>
									<tr>
										<td>Title: </td>
										<td><%= f.text_field :contact_title %></td>
									</tr>
									<tr>
										<td>Company Name:</td>
										<td><%= f.text_field :company %></td>
									</tr>
									<tr>
										<td>Phone:</td>
										<td><%= f.text_field :phone %></td>
									</tr>
									<tr>
										<td>Email:</td>
										<td> <%= f.text_field :email %></td>
									</tr>
									<tr>
										<td>Question:</td>
										<td><%= f.text_field :question %></td>
									</tr>
									<tr>
										<td>Other Concerns: </td>
										<td><%= f.text_field :other_topics %></td>
									</tr>
									<tr>
										<td>The best way to reach you:</td>
										<td><%= f.text_field :best_method %></td>
									</tr>
									<tr>
										<td>The best time to contact you:</td>
										<td><%= f.text_field :best_time %></td>
									</tr>
								</table>
								<%= f.submit %><br>
								<% end %>
						</div>
						<div class="col-md-6">

							<h4 class="push-top">Get in <strong>touch</strong></h4>
							<p>We would love to hear from you!</p>

							<hr />

							<h4>The <strong>Office</strong></h4>
							<ul class="list-unstyled">
								<li><i class="fa fa-map-marker"></i> <strong>Address:</strong> San Francisco, CA</li>
								<li><i class="fa fa-phone"></i> <strong>Phone:</strong> (510) 706-2877</li>
								<li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:seanthefinanceguy@gmail.com">Email us!</a></li>
							</ul>

							<hr />

							<h4>Business <strong>Hours</strong></h4>
							<ul class="list-unstyled">
								<li><i class="fa fa-time"></i> Monday - Friday 9am to 5pm</li>
								<li><i class="fa fa-time"></i> Saturday - 9am to 2pm</li>
								<li><i class="fa fa-time"></i> Sunday - Closed</li>
							</ul>

						</div>

					</div>

				</div>
			</div>

			<!-- Google Maps -->
			<!-- <div id="googlemaps" class="google-map push-down"></div> -->

			<footer class="short" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h4>About ConsultingBenefits</h4>
							<p>We're better than the competition</p>
							<hr class="light">
						</div>
						<div class="col-md-3 col-md-offset-1">
							<h5 class="short">Contact Us</h5>
							<span class="phone">(510) 706-2877</span>
							<p class="short">seanthefinanceguy@gmail.com</p>
							<p class="short">Serving the entire USA</p>
							<ul class="list icons list-unstyled">
								<li><i class="fa fa-envelope"></i> <a href="mailto:seanthefinanceguy@gmail.com">Send us an email</a></li>
							</ul>
							<div>
								<ul class="social-icons">
									<li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
									<li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
									<li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index-6.html" class="logo">
									<!-- <img alt="Porto Website Template" class="img-responsive" src="img/logo-footer.png"> -->
									<%= image_tag("logo-footer.png", :alt => 'mini logo', :class => 'img-responsive') %>
								</a>
							</div>
							<div class="col-md-11">
								<p>© Copyright 2014. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>


		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12345678-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
		 -->


		<script src="http://maps.google.com/maps/api/js?sensor=false">
			/*
			Map Settings

				Find the Latitude and Longitude of your address:
					- http://universimmedia.pagesperso-orange.fr/geo/loc.htm
					- http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

				*/

			// },{
			// 	address: "645 E. Shaw Avenue, Fresno, CA 93710",
			// 	html: "<strong>California Office</strong><br>645 E. Shaw Avenue, Fresno, CA 93710<br><br><a href='#' onclick='mapCenterAt({latitude: 36.80948, longitude: -119.77598, zoom: 16}, event)'>[+] zoom here</a>",
			// 	icon: {
			// 		image: "pin.png",
			// 		iconsize: [26, 46],
			// 		iconanchor: [12, 46]
			// 	}
			// },{
			// 	address: "New York, NY 10017",
			// 	html: "<strong>New York Office</strong><br>New York, NY 10017<br><br><a href='#' onclick='mapCenterAt({latitude: 40.75198, longitude: -73.96978, zoom: 16}, event)'>[+] zoom here</a>",
			// 	icon: {
			// 		image: "pin.png",
			// 		iconsize: [26, 46],
			// 		iconanchor: [12, 46]
			// 	}

			// Map Markers
			var mapMarkers = [{
				address: "22284 Mission Boulevard, Hayward, CA 94541",
				html: "<strong>California Office</strong><br>22284 Mission Boulevard, Hayward, CA 94541<br><br><a href='#' onclick='mapCenterAt({latitude: 33.44792, longitude: -86.72963, zoom: 16}, event)'>[+] zoom here</a>",
				icon: {
					image: "pin.png",
					iconsize: [26, 46],
					iconanchor: [12, 46]
				}
			}];

			// Map Initial Location
			var initLatitude = 37.67651;
			var initLongitude = -122.08923;

			// Map Extended Settings
			var mapSettings = {
				controls: {
					panControl: true,
					zoomControl: true,
					mapTypeControl: true,
					scaleControl: true,
					streetViewControl: true,
					overviewMapControl: true
				},
				scrollwheel: false,
				markers: mapMarkers,
				latitude: initLatitude,
				longitude: initLongitude,
				zoom: 9
			};

			var map = $("#googlemaps").gMap(mapSettings);

			// Map Center At
			var mapCenterAt = function(options, e) {
				e.preventDefault();
				$("#googlemaps").gMap("centerAt", options);
			}

		</script>

	</body>
</html>
