Enter your information
<BR>
 <%= form_for @contacts do |f| %>
<table width="400" border="0">
  <tr>
    <td>First Name:</td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <td>Title: </td>
    <td><%= f.text_field :contact_title %></td>
  </tr>
  <tr>
    <td>Company Name:</td>
    <td><%= f.text_field :company %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= f.text_field :phone %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td> <%= f.text_field :email %></td>
  </tr>
  <tr>
    <td>Question:</td>
    <td><%= f.text_field :question %></td>
  </tr>
  <tr>
    <td>Other Concerns: </td>
    <td><%= f.text_field :other_topics %></td>
  </tr>
  <tr>
    <td>The best way to reach you:</td>
    <td><%= f.text_field :best_method %></td>
  </tr>
    <tr>
    <td>The best time to contact you:</td>
    <td><%= f.text_field :best_time %></td>
  </tr>
</table>
  <%= f.submit %>
  <% end %>
